<!DOCTYPE html>

<html>

<head>
    <title>Main Page</title>
    <link rel="stylesheet" href="/ServerStaticFiles/css/main.css"></style>
    <script src="/ServerStaticFiles/js/quotes.js" defer></script>
    <script src="/ServerStaticFiles/js/todo.js" defer></script>
</head>

<body>
    <h1>Incrementum</h1>

    <div id="quote"></div>

    <div id="login-container">
        <h3>Login</h3>
        <form id="login-form" action="http://localhost:<%= port %>/login" method="post">
            <label for="username">Username: </label>
            <input type="text" name="username">

            <label for="password">Password: </label>
            <input type="password" name="password">
            
            <input type="submit" value="Login">
        </form>

        <a href="/signUp">Sign Up</a>
    </div>
    <% if (userNotFound) { %>
        <script>
            window.onload = function() {
                // Display an alert or custom notification
                alert('User not found. Please try again.');
                // You can replace the above alert with a custom notification implementation if preferred
            };
        </script>
    <% } %>
    
</body>
</html>